.footer {
    background: #303030cc;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-top: 2px solid #ffffff1a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30;
    display: flex;
    padding: 2rem 7rem;
    .topSpacer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .logoContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .logoImage {
                width: 70%;
            }
            
            .logoDescription {
                font-size: 1rem;
                font-weight: 500;
                color: inherit;
                margin: 0;
                max-width: 400px;
            }
        }
    }
    .footerLinks {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        .linksTitle {
            font-size: 2rem;
            font-weight: 400;
            font-style: normal;
            font-family: 'Goldman', sans-serif;
            color: inherit;
            margin: 0px !important;
        }
        .linksList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .linkItem {
                font-size: 1rem;
                font-weight: 500;
                color: inherit;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .footerContent {
        font-size: 1rem;
        font-weight: 500;
        color: inherit;
        text-align: center;
        font-family: 'Goldman', sans-serif;
    }
}